../pdfbox/
logs/

module-statements/.settings/
webapp-statements/logs/

datanucleus.log
module-statements/build.log

webapp-statements/.flattened-pom.xml
module-statements/.flattened-pom.xml
application-statements/.flattened-pom.xml
.flattened-pom.xml
*.class

