@CHARSET "UTF-8";

/*
url(../img/icon-calendar.png);
*/

.cal-area {position: relative;display:inline-block}
.cal-area>input {box-sizing: border-box;height: 30px;border: 1px solid #c7c7c7;text-align: center;}
.cal-area>span {margin: 0 8px;}
.cal-area>button {height: 30px;margin-left: 5px;padding: 0 10px;background-color: #fff;border: 1px solid #c7c7c7;cursor: pointer;}
.cal-area>button:HOVER {background-color: #f0f0f0;}
.cal-area>button.on { background-color: #2c77bc !important; color: #fff; border: 1px solid #1b66ab; }

.cal-area>.cal-btn-open {width: 30px;background-image: url(../img/icon-btn.png);background-repeat: no-repeat;background-position: -70px -20px;color: transparent;font-size: 0px;vertical-align: bottom;}

.cal-wrapper {position: absolute;box-sizing: border-box;left: 0px;top: 33px;max-width: 510px;height: auto;padding: 28px 21px 28px 21px;background-color: #fff;border: 1px solid #dbdbdb;z-index: 999;}
.cal-wrapper.on-top { top: inherit; bottom: 33px; }

.cal-wrapper button {cursor: pointer;}
.cal-wrapper .cal-tit {width: 210px;margin: 0;margin-bottom: 20px;padding: 0;color: #333;font-size: 114%;font-weight: bold;text-align: center;line-height: 1;}

.cal-wrapper .cal-box {width: 210px;}
.cal-wrapper .cal-box.cal-start {float: left;}
.cal-wrapper .cal-box.cal-end {float: right;margin-left: 15px;}

/* calendar : header*/
.cal-wrapper .cal-header {margin-bottom: 5px;width: 210px;text-align: center;line-height: 1;}
.cal-wrapper .cal-header>button {height: 14px;padding: 0;background-image: url(../img/icon-calendar.png);background-repeat: no-repeat;background-color: transparent;background-size: 50px;border: hidden;color: transparent;font-size: 15px;vertical-align: text-bottom;}
.cal-wrapper .cal-header>span {display: inline-block;height: 14px;width: 126px;}
.cal-wrapper .cal-header>.cal-btn-prevY {width: 17px;background-position: 0 0;margin-right: 15px;}
.cal-wrapper .cal-header>.cal-btn-prevM {width: 10px;background-position: 0 -50px;}
.cal-wrapper .cal-header>.cal-btn-nextM {width: 10px;background-position: 0 -100px;}
.cal-wrapper .cal-header>.cal-btn-nextY {width: 17px;background-position: 0 -150px;margin-left: 15px;}

.cal-wrapper .cal-body>table {margin: 0;margin-bottom: 10px;padding: 0;border-collapse: collapse;}
.cal-wrapper .cal-body>table th,
.cal-wrapper .cal-body>table td {width: 30px;height: 26px;margin: 0;padding: 0;background-color: transparent;border: hidden;border-top: 1px solid #fff;border-bottom: 1px solid #fff;color: #333;text-align: center;vertical-align: middle;}
.cal-wrapper .cal-body>table th {height: 24px;background-color: transparent !important;color: #666;font-weight: normal;}

.cal-wrapper .cal-body>table td>a {display: table-cell;width: 30px;height: 26px;vertical-align: middle;text-align: center;}
.cal-wrapper .cal-body>table .sun,
.cal-wrapper .cal-body>table .sun>a {color: #e41554;}
.cal-wrapper .cal-body>table .sat,
.cal-wrapper .cal-body>table .sat>a {color: #086bb1;}
.cal-wrapper .cal-body>table .other {color: #ccc;}
.cal-wrapper .cal-body>table .start,
.cal-wrapper .cal-body>table .end {background-image: url(../img/icon-calendar.png);background-repeat: no-repeat;background-size: 50px;}
.cal-wrapper .cal-body>table .start {background-position: -2px -202px;}
.cal-wrapper .cal-body>table .end {background-position: 0 -252px;}
.cal-wrapper .cal-body>table .select {background-color: #0099de;}
.cal-wrapper .cal-body>table .start>a,
.cal-wrapper .cal-body>table .end>a,
.cal-wrapper .cal-body>table .select>a {color: #fff;}

.cal-wrapper .cal-body>table .term {background-color: #e5f7fb;}
.cal-wrapper .cal-body>table caption {position: absolute; display: block; left:-10000px}

.cal-wrapper .cal-footer {text-align: center;}
.cal-wrapper .cal-footer>button {width: 80px;height: 30px;border-width: 1px;border-style: solid;}
.cal-wrapper .cal-footer>.cal-btn-confirm {margin-right: 10px;background-color: #555;border-color: #555;color: #fff;}
.cal-wrapper .cal-footer>.cal-btn-close {background-color: #fff;border-color: #c7c7c7;color: #333;}
