@CHARSET "UTF-8";

* {font-family: 'Malgun Gothic' !important;}
body {margin: 0px; padding: 0px;  line-height: 1.5; letter-spacing: -1px; color:#333333; font-size: 0.875em;}
ul, ol, dl, li {list-style: none; padding:0; margin:0}
dt, dd {margin:0;padding:0}
a {text-decoration: none; color:#333333}
a:HOVER {color:#007ab3}
p {padding:0;margin:0}
figure {margin:0;padding:0}
figcaption {margin:10px 0;}
img {border:0}
em {font-style: normal; font-weight:bold; color:#007ab3;}
button {cursor:pointer;}
input[type=radio],
input[type=checkbox] {vertical-align: middle;}
h1,h2,h3,h4 {margin:0;font-size:100%}

/* IE8 이하를 위해 선언*/
aricle,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display:block;}

.dpn {display:none !important;}
.dpb {display:block !important;}
.tac {text-align: center !important;}
.tal {text-align: left !important;}
.tar {text-align: right !important;}
.gap10 {margin:10px 0}
 .disabled {pointer-events:none; cursor:default; background-color: #cccccc;}
 .disabled:hover {cursor:default; color:#333333; }